{% extends 'base.html' %}

{% block content %}
<div class="explain-container">
    <div class="text1">영화 명대사 게임</div>
    <div class="text2">영화 장면을 보고 해당 장면의 명대사를 맞춰주세요!</div>
    <a href="/games/{{roomId}}/movie-game/start" class="main-btn btn-text">게임 시작하기</a>
</div>
<div class="select-container">
  <div class="rule">문제 개수를 선택해주세요!</div>
  <form method="POST" action="{% url 'movieGames:movie_game_main' room.id %}">
    {% csrf_token %}
    <div class="problem">
      <p>문제 개수</p>
      <input type="checkbox" name="count" value="5" />5 문제
      <input type="checkbox" name="count" value="10" />10 문제
      <input type="checkbox" name="count" value="15" />15 문제
    </div>
    <input type="submit" value="게임 시작" />
  </form>
</div>
{% endblock %}
