{% extends 'base.html' %}

{% block content %}
<div class="quiz">
    <div class="photo-container">
        <img src="{{ quiz.movie_game_id.scene }}" alt="" class="photo">
    </div>
    <div class="answer">
        <div class="title">{{ quiz.movie_game_id.title }}</div>
        <div class="line">{{ quiz.movie_game_id.line }}</div>
    </div>
    <div class="btn">
        <div class="next-btn">다음 문제</div>
        <a class="game-over" href="{% url 'movieGames:movie_game_main' %}"></a>
    </div>
</div>

<div class="chatting"></div>
{% endblock %}

{% block script %}
<script>
    const requestQuiz = new XMLHttpRequest();
    let currentQuizId = '{{ quiz.id }}';
    const nextBtn = document.querySelector('.next-btn');
    const gameOverBtn = document.querySelector('.game-over');
    let cnt = 1;

    nextBtn.addEventListener('click', function1 =>{
        const url = "next";
        requestQuiz.open("POST", url, true);
        requestQuiz.setRequestHeader(
            "Content-Type",
            "application/json"
        );
        requestQuiz.send(JSON.stringify({id: currentQuizId}));
    });

    requestQuiz.onreadystatechange = () =>{
        if(requestQuiz.readyState === XMLHttpRequest.DONE){
            if(requestQuiz.status < 400){
                const {id, scene, title, line} = JSON.parse(requestQuiz.response)

                const photo_element = document.querySelector('.photo');
                photo_element.src = scene;

                const title_element = document.querySelector('.title');
                title_element.innerHTML = title;

                const line_element = document.querySelector('.line');
                line_element.innerHTML = line;
                
                currentQuizId = id;
                cnt++;
                if (cnt === 10){
                    gameOverBtn.innerText = "게임종료";
                    nextBtn.innerText = "";
                }
            }
        }
    }
</script>
{% endblock %}