{% extends 'base.html' %}

{% block head %}
    <title>four_words_main</title>
{% endblock %}

{% block content %}
    <h1>네 글자 게임 메인 페이지 입니다</h1>
    <div>게임 설명 <br>
        네 글자 게임은 두 글자가 주어지면 말이 되는 단어로 나머지 두 글자를 이어말하는 게임입니다 <br>
        '시작' 버튼을 누르면 두 글자가 보입니다! <br>
        이어지는 두 글자를 3초안에 말하세요<br>
        시간 내에 말하지 못 하거나 말이 되지 않으면 자비없이 땡!!
    </div>
    <div class="select-container">
        <div class="rule">문제 개수를 선택해주세요!</div>
        <form method="POST" action="{% url 'fourWords:fourWords_main' %}">
            {% csrf_token %}
            <div class="problem">
                <p>문제 개수</p>
                <input type="checkbox" name="count" value="5">5 문제
                <input type="checkbox" name="count" value="10">10 문제
                <input type="checkbox" name="count" value="15">15 문제
            </div>
            <input type="submit" value="게임 시작">
        </form>
    </div>
{% endblock %}