{% extends 'base.html' %} {% block content %}{% load static %}

<div class="game">
  <div class="quiz">
    <div class="quiz-container">
      <div class="image-cover">
        <span class="countdown text2">!준비!</span>
      </div>
      <div class="photo-container">
        <div class="photo">{{quiz_chatGames.chatText}}</div>
      </div>
    </div>
    <div class="answer-container">
      <div class="chatGames-name text1"></div>
    </div>
    <div class="game-btn-container">
      <button class="game-btn main-btn btn-text start-btn">
        시작
        <i class="fa-solid fa-play"></i>
      </button>
      <!-- 이전문제 -->
      <div class="before-btn"></div>
      <!-- 게임순서 -->
      <div class="game-btn btn-text main-btn quiz-order">1</div>
      <div
        class="game-btn next-btn main-btn btn-text"
        onclick="reset_animation()"
      >
        다음 문제
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <!-- <div class="game-btn answer-btn main-btn btn-text">
        <i class="fa-solid fa-circle-check"></i> 정답
      </div> -->
    </div>
  </div>
  <a
    class="game-btn game-over main-btn btn-text"
    href="/chatting-room/next_game/{{roomId}}"
    >다음게임 <i class="fa-solid fa-chevron-right"></i>
  </a>
  {% if user.is_authenticated %}
  <div class="chat-container">{%include "chat-base.html"%}</div>
  {% endif %}
</div>

{% endblock %} {% block script %}

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie("csrftoken");

  //버튼 정리
  const beforeBtn = document.querySelector(".before-btn");
  const nextBtn = document.querySelector(".next-btn");
  const startBtn = document.querySelector(".start-btn");
  startBtn.addEventListener('click', startCountdown, {once:true})//한 번만 작동하도록

  //카운트다운
  const imageCover = document.querySelector(".image-cover");
  const countdownElement = document.querySelector(".countdown");
  let countdownInterval;
  const countAudio = new Audio('/static/audio/countdown/countdown.mp3');

  function startCountdown() {
    imageCover.style.display = "flex";
    let count = 3;
    countdownInterval = setInterval(() => {
      if (count <= 0) {
        clearInterval(countdownInterval);
        imageCover.style.display = "none";
        //다음문제 정답버튼 활성화
        nextBtn.addEventListener('click', nextFunction, {once:true});

      } else {
        countdownElement.textContent = count;
        count--;
        countAudio.play();
      }
    }, 1000);
  }

  const requestQuiz = new XMLHttpRequest();
  let gameList = {{chatGames_game}};
  let currentQuizId = {{quiz_chatGames.id}};

  function reset_animation() {
    clearInterval(countdownInterval);
    const quizContainer = document.querySelector(".quiz");
    quizContainer.style.animation = "none";
    quizContainer.offsetHeight; /* trigger reflow */
    quizContainer.style.animation = null;
  }

  let cnt = 1;
  const quizOrder = document.querySelector('.quiz-order');

  function nextFunction() {
    if (cnt < parseInt("{{ count }}")){
    imageCover.style.display = "flex";
    countdownElement.textContent = "사진";
    const url = "/chatGames/next/";
    requestQuiz.open("POST", url, true);
    requestQuiz.setRequestHeader("Content-Type", "application/json");
    requestQuiz.setRequestHeader("X-CSRFToken", csrftoken);
    requestQuiz.send(JSON.stringify({ id: currentQuizId, game_list: gameList}));
    //이전문제 버튼 만들기
    if(cnt == 1){
      beforeBtn.innerHTML = "<div class='game-btn before-btn-play main-btn btn-text' onclick='reset_animation()'><i class='fa-solid fa-chevron-left'></i>이전문제</div>"
    }
    const name_element = document.querySelector(".chatGames-name");
    name_element.innerHTML = "";
    //시작버튼 재활성화, 정답 버튼 비활성화
    startBtn.addEventListener('click', startCountdown, {once:true});
    //퀴즈 순서
    quizOrder.innerText = 1+cnt;
  }};

  beforeBtn.addEventListener("click", function () {
    if (cnt > 1){
    if (cnt === parseInt("{{ count }}")) {
      nextBtn.innerHTML = "다음문제<i class='fa-solid fa-chevron-right'></i>";
    }
    else if (cnt === 2) {
      beforeBtn.innerHTML = "";
    }
    cnt--;
    cnt--;
    imageCover.style.display = "flex";
    countdownElement.textContent = "사진";
    const url = "/chatGames/before/";
    requestQuiz.open("POST", url, true);
    requestQuiz.setRequestHeader("Content-Type", "application/json");
    requestQuiz.setRequestHeader("X-CSRFToken", csrftoken);
    requestQuiz.send(JSON.stringify({ id: currentQuizId, game_list: gameList}));

    const name_element = document.querySelector(".chatGames-name");
    name_element.innerHTML = "";
    //시작버튼 재활성화
    startBtn.addEventListener('click', startCountdown, {once:true})
    //퀴즈 순서
    quizOrder.innerText = 1+cnt;
  }});

  requestQuiz.onreadystatechange = () => {
    if (requestQuiz.readyState === XMLHttpRequest.DONE) {
      if (requestQuiz.status < 400) {
        const { id, chatText, game_list } = JSON.parse(requestQuiz.response);
        gameList = game_list;
        const photo_element = document.querySelector(".photo");
        photo_element.innerText = chatText;
        currentQuizId = id;
        cnt++;
        let text = '-------------------' + cnt +'번문제' +'-------------------';
        socket.emit("message", text, "", room_name);
        if (cnt === parseInt("{{ count }}")) {
          nextBtn.innerText = "마지막 문제";
        }
      }
    }
  };
</script>

{% endblock %}
