{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Dela+Gothic+One&family=Jua&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/nomalize.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/main.css'%}" />
    <link rel="stylesheet" href="{%static 'css/chattings.css'%}" />

    {%block head%} {% endblock %}
  </head>
  <body>
    <header>
      <style>
        #noShowChat {
          display: none;
        }
        #showChat {
          display: block;
        }
        ul {
          padding: 0;
        }
        li {
          display: flex;
          margin: 2px 20px;
        }
        .my_chat {
          flex-direction: row-reverse;
        }
      </style>
      <div class="header-container">
        <a href={% url 'main:main' %} class="header-logo-url"> <img src="{%static 'image/main/logo.png'%}" alt="logo" class="logo"> </a>
        <div id="info_room_num">{{room.id}}</div>
        <div id="info_room">{{room.room_name}}</div>
        {% if user.is_authenticated %}

        <div class="connect-user-hi">
          <span id="info_username">{{user.username}}</span> 님이 로그인중
        </div>
        <a href="{% url 'main:logout' %}">
          <div class="header-btn">로그아웃</div>
        </a>
        <span>참가자수 : <span id="people_count">{{room.participants}}</span></span>
      </div>
      {% endif %}
      <!-- 접속중인 유저 표시 -->
    </header>
    <main>
      {%block content%} {%endblock%}
      <ul id="users"></ul>
      <div id="toggle" onclick="clickChat()">채팅창 없애기</div>
      <!-- 채팅 입력 칸 생성 -->
      <div id="showChat" class="show">
        <input id="input" autocomplete="off" />
        <div onclick="click1()">Send</div>
        <!-- 입력된 채팅들이 기록될 공간 -->
        <ul id="messages"></ul>
      </div>
    </main>
    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script defer src="{%static '/js/script.js'%}"></script>
    <script
      src="https://kit.fontawesome.com/26acdb4290.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      src="https://cdn.socket.io/4.0.1/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function clickChat() {
        console.log("클릭");
        if (document.querySelector(".show").id == "showChat") {
          document.querySelector(".show").id = "noShowChat";
        } else {
          document.querySelector(".show").id = "showChat";
        }
      }
      const room_num = document.getElementById("info_room_num").innerText;
      const room_name_ex = document.getElementById("info_room").innerText;
      const username = document.getElementById("info_username").innerText;
      const room_name = room_name_ex + username;
      console.log(room_num);
      console.log(room_name);
      console.log(username);

      let socket = io.connect(
        location.protocol + "//" + document.domain + ":" + location.port
      );
      socket.emit("join",document.getElementById("people_count").innerText, room_name);
      


      socket.on("count_plus", function (data) {
        console.log(data);
        document.getElementById("people_count").innerText = data
      });


      // 소켓서버에서 받은 데이터를 기반으로 html에 코드 추가
      socket.on("message", function (data) {
        console.log("msg");
        console.log(data);
        let li = document.createElement("li");
        li.append(
          document.createTextNode(data[1]),
          document.createTextNode(" : "),
          document.createTextNode(data[0])
        );
        if (data[1] == username) {
          li.className += "my_chat";
        }
        document.getElementById("messages").appendChild(li);
      });

      // 메시지 전송버튼이 눌렸을때 입력된 메세지를 소켓을 통해 보내고 메세지 입력창을 비움
      function click1() {
        console.log("clk");
        let text = document.getElementById("input").value;
        console.log("clk2");
        socket.emit("message", text, username, room_name);
        document.getElementById("input").value = "";
      }
      document
        .getElementById("input")
        .addEventListener("keydown", function (e) {
          if (e.keyCode === 13) {
            // 'Enter'키의 keyCode는 13입니다.
            let text = e.target.value;

            socket.emit("message", text, username, room_name);
            e.target.value = "";
          }
        });
    </script>
    {%block script%} {%endblock%}
  </body>
</html>
