.game-choose-container{
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.team, .individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.team .btn, .individual .btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.room-create {
    /* flex: 0 0 calc(50% - 4rem);  */
    height: min-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .rooms{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

}

/* .game-btn{
    flex-shrink: 0;
    box-shadow: 0.4rem 0.4rem 1rem var(--primary-color);
    border: 0.4rem solid var(--primary-color);
    background: var(--secondary-color);
    font-size: 4.8rem;
    padding: 1rem 3rem;
} */


.text4{
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0 0 0.4rem #1E1E1E;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #1E1E1E;
    font-family: var(--font-family);
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}