/* Landing page */
.header-logo-url {
  height: 100%;
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.Topic_button>a{
  font-size: 20px;
  font-family: var(--randing-font);
  margin: 10px;
}
.sub-title {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}
.title {
  font-size: 10rem;
}
.log-in-sign-up-btn, .landing-game-btn {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}
.log-in-sign-up-btn{
  margin-bottom: 4rem;

}
.landing-game-btn {
  flex-wrap: wrap;
}

.landing-game-btn>a{
  font-size: 2.5rem;
}

/* .landing-game-btn a{
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 1rem;
} */

/* Log in , Sign Up Page */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-items: center;
}

form label {
  font-size: 3rem;
  color: black;
  /* margin-right:20px; */
}

form input {
  width: 40rem;
  height: 6rem;
  font-size: 3rem;
}
/* .form-row input [type= "text"]{
  flex-shrink: 1;
} */
.navigate {
  font-size: 3rem;
  margin: 4rem 0;
}
.navigate span:first-child {
  margin-right: 2rem;
}


/* answer page css*/
.answer_container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .answer_container {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 1024px) {
  .answer_container {
    grid-template-columns: repeat(4, 1fr);
  }

}
.answer_box {
  font-size: large;
  padding: 20px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.answer_box > p{
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid black;
}

.room-answer{
  color: var(--primary-color);
  font-size: 20px;
}

.room_container{
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* qr image */
.qr-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bef_clicked{
  background-color: gray;
  box-shadow:none;
}

