{% extends 'base.html' %}

{% block content %}
<div>
    <div class="text2">{{room_name}} 방 - 정답 확인 페이지 </div>
    <div class="answer_container">
        {% for order in order_list %}
            {% if order == 'Figure' %}
            
            <div class="answer_box">
                <h1>인물 퀴즈 정답</h1>
                {% for figure in figure_answer %}
                <p>{{ forloop.counter }}번 : {{figure}} </p>
                {% endfor %}
            </div>
            {% elif order == 'Movie' %}
            
            <div class="answer_box">
                <h1>명대사 퀴즈 정답</h1>
                {% for movie in movie_answer %}
                <p>{{ forloop.counter}}번 : {{movie.0}},  {{movie.1}} </p>
                {% endfor %}
            </div>
            {% elif order == 'Four' %}
            
            <div class="answer_box">
                <h1>네글자 퀴즈 정답</h1>
                {% for four in four_answer %}
                <p>{{ forloop.counter }}번 : {{four}} </p>
                {% endfor %}
            </div>

            {% elif order == 'Music' %}
            
            <div class="answer_box">
                <h1>음악 퀴즈 정답 (2000년대)</h1>
                {% for music in music_2000_answer %}
                <p>{{ forloop.counter }}번 : {{music.0}},  {{music.1}}</p>
                {% endfor %}
            </div>
            
            <div class="answer_box">
                <h1>음악 퀴즈 정답 (2010년대)</h1>
                {% for music in music_2010_answer %}
                <p>{{ forloop.counter }}번 : {{music.0}},  {{music.1}}</p>
                {% endfor %}
            </div>
            
            <div class="answer_box">
                <h1>음악 퀴즈 정답 (2020년대)</h1>
                {% for music in music_2020_answer %}
                <p>{{ forloop.counter }}번 : {{music.0}},  {{music.1}}</p>
                {% endfor %}
            </div>
            
            {% elif order == 'Look' %}
            
            <div class="answer_box">
                <h1>철가방 퀴즈 정답</h1>
                {% for look in look_answer %}
                <p>{{ forloop.counter }}번 : {{look}} </p>
                {% endfor %}
            </div>

            {% elif order == 'Mudo' %}
            
            <div class="answer_box">
                <h1>무한도전 퀴즈 정답</h1>
                {% for mudo in mudo_answer %}
                <p>{{ forloop.counter }}번 : {{mudo}} </p>
                {% endfor %}
            </div>
            {%endif%}
        {%endfor%}




    </div>
</div>
{% endblock content %}