{% extends 'base.html' %} {% block head %}
<title>chatGames_main</title>
{% endblock %} {% block content %}
<div class="help-title">
    <div class="text1">레크레이션 진행 방법</div>
    <div class="text2">이용 방법 안내</div>
</div>
<div class="help-container">
    <div class="first help-box">
        <p class="text3">게임 방 만들기 클릭</p>
        <img style="width:300px; height: 200px;" src="static/image/help/create.png" alt="이미지" class="photo" />
        <p class="help-text">게임방은 최대 5개까지 생성 가능합니다.</p>
    </div>
    <div class="second help-box">
        <p class="text3">게임방 커스텀</p>
        <img style="width:300px; height: 200px;" src="static/image/help/room_name.png" alt="이미지" class="photo" />
        <p class="help-text">원하는 게임들을 순서대로 클릭해주세요.
            <br>각 게임의 문제 개수는 게임이 시작될 때마다 선택하실 수 있어요.
        </p>
    </div>
</div>
<div class="help-container">
    <div class="third help-box">
        <p class="text3">QR코드를 통해 팀원들 게임방으로 초대</p>
        <img style="width:300px; height: 200px;" src="static/image/help/qr.png" alt="이미지" class="photo" />
        <p class="help-text">
            초대된 팀원들은 게임방의 채팅룸으로 들어오게 됩니다.
        </p>
    </div>
    <div class="fourth help-box">
        <p class="text3">정답 확인</p>
        <img style="width:300px; height: 200px;" src="static/image/help/gaming.png" alt="이미지" class="photo" />
        <p class="help-text">
            호스트는 서브 핸드폰을 통해 다시 메인페이지로 접속하여 해당 게임방의 정답을 확인하면서 개임 진행이 가능합니다.
        </p>
    </div>
</div>

<div class="help-container">
    <div class="fifth help-box">
        <p class="text3">채팅을 통해 다함께 게임 즐기기</p>
        <img style="width:300px; height: 200px;" src="static/image/help/chatting.png" alt="이미지" class="photo" />
        <p class="help-text">
            
        </p>
    </div>
    <div class="sixth help-box">
        <p class="text3">채팅on/off 기능</p>
        <img style="width:300px; height: 200px;" src="static/image/help/chattingOff.png" alt="이미지" class="photo" />
        <p class="help-text">
            채팅을 끄고 오프라인으로도 게임을 즐길 수도 있습니다.
        </p>
    </div>
</div>

<div class="help-footer">
    <p class="text2">계정을 만든 후 게임을 즐겨보세요!<i class="fa-solid fa-puzzle-piece"></i><i class="fa-solid fa-puzzle-piece"></i></p>
    <div class="help-btn">
        <a href="{% url 'main:signup' %}" class="main-btn btn-text">회원가입</a>
        <a href="{% url 'main:login' %}" class="main-btn btn-text">로그인</a>
    </div>
</div>

{% endblock %}