{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="sub-title text1">로그인</div>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <a href={% url 'main:signup' %} class="navigate text2">
            <span >아직 회원이 아니신가요? </span>
            <span >회원가입하기</span>
        </a>
            
        <button type="submit" value="SignUp" class="main-btn text3">로그인</button>
    </form>
</div>
{% endblock content %}