.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row{
    display: flex;
    margin-bottom: 4rem;

}

form label {
    font-size: 4rem;
    margin-right: 2rem;
}

form input{
    width: 40rem;
    height: 6rem;
    font-size: 3rem;
}

.navigate{
    font-size: 3rem;
    margin: 4rem 0;
}
.navigate span:first-child {
    margin-right: 2rem; 
}