{% extends 'base.html' %}

{% block content %}
<div class="quiz">
    <div class="music-container">
        <button class="btn-05" data-music="{{ quiz.music_game_id.music }}">0.5초 듣기</button>
        <button class="btn-10" data-music="{{ quiz.music_game_id.music }}">1초 듣기</button>
    </div>
    <div class="answer">
        <div class="title">{{ quiz.music_game_id.title }}</div>
        <div class="singer">{{ quiz.music_game_id.singer }}</div>
    </div>
    <div class="btn">
        <div class="next-btn">다음 문제</div>
        <a href="{% url 'musicGames:music_game_main' %}" class="game-over"></a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    //csrf 토큰 생성 함수
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //csrf 토큰 생성
    const csrftoken = getCookie('csrftoken');

    document.querySelector('.btn-05').addEventListener("click", function(){
        const audioPath = this.dataset.music;
        //const audioPath = '{{ quiz.music_game_id.music }}'
        const audio = new Audio(audioPath);
        audio.loop = false;
        const play = audio.play();
        play.then(setTimeout(function(){
            audio.pause();
        }, 500));
    });

    document.querySelector(".btn-10").addEventListener("click", function(){
        const audioPath = this.dataset.music;
        const audio = new Audio(audioPath);
        audio.loop = false;
        const play = audio.play();
        play.then(setTimeout(function(){
            audio.pause();
        }, 1000));
    });


    const requestQuiz = new XMLHttpRequest();
    let currentQuizId = '{{ quiz.id }}';
    const nextBtn = document.querySelector('.next-btn');
    const gameOverBtn = document.querySelector('.game-over');
    let cnt = 1;

    nextBtn.addEventListener('click', function(){
        const url = "next";
        requestQuiz.open("POST", url, true);
        requestQuiz.setRequestHeader(
            "Content-Type",
            "application/json"
        );
        requestQuiz.setRequestHeader(
            "X-CSRFToken",
            csrftoken
        );
        requestQuiz.send(JSON.stringify({id: currentQuizId}));
    });

    requestQuiz.onreadystatechange = ()=>{
        if(requestQuiz.readyState === XMLHttpRequest.DONE){
            if(requestQuiz.status < 400){
                const {id, title, music, singer} = JSON.parse(requestQuiz.response)

                const music_element_05 = document.querySelector('.btn-05');
                music_element_05.dataset.music = music;

                const music_element_10 = document.querySelector('.btn-10');
                music_element_10.dataset.music = music;

                const title_element = document.querySelector('.title');
                title_element.innerHTML = title;

                const singer_element = document.querySelector('.singer');
                singer_element.innerHTML = singer;

                currentQuizId = id;
                cnt++;
                if(cnt === 5){
                    gameOverBtn.innerText = "게임종료";
                    nextBtn.innerText = "";
                }
            }
        }
    }
</script>
{% endblock %}