{% extends 'base.html' %} {% block content %}
<div class="explain-container">
  <div class="text1">전주 듣고 노래 맞추기 게임</div>
  <div class="text2">전주를 듣고 해당 노래와 가수를 맞춰주세요!</div>
  <div class="game-explain text3">
    <p>게임 설명</p>
    <p>0.5, 1초 듣기로 해당 노래를 0.5,1초 들을 수 있습니다.</p>
    <p>해당 노래의 제목과 가수이름을 외치세요</p>
    <p>잘못된 제목, 이름을 말하면 자비없이 땡!!</p>
  </div>
  <form method="POST" action="{% url 'musicGames:music_game_main' roomId %}">
    {% csrf_token %}
    <div class="problem">
      <div class="rule text3">문제 개수를 선택해주세요!</div>
      <label class="custom-radio">
        <input type="radio" name="count" value="5" required />
        <span class="checkmark"></span>
        <span class="label-text text3">5 문제</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="count" value="10" />
        <span class="checkmark"></span>
        <span class="label-text text3">10 문제</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="count" value="15" />
        <span class="checkmark"></span>
        <span class="label-text text3">15 문제</span>
      </label>
    </div>
    <div class="time">
      <div class="rule text3">노래 년도를 선택해주세요!</div>
      <label class="custom-radio">
        <input type="radio" name="time" value="2000" />
        <span class="checkmark"></span>
        <span class="label-text text3">2000년대</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="time" value="2010" />
        <span class="checkmark"></span>
        <span class="label-text text3">2010년대</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="time" value="2020" />
        <span class="checkmark"></span>
        <span class="label-text text3">2020년대</span>
      </label>
    </div>
    <button type="submit" class="main-btn btn-text">게임 시작</button>
  </form>
</div>
{% endblock %}
