{% extends 'base.html' %}

{% block content %}
<div class="game-choose-container">
  <div class="individual">
    <div class="sub-title text3">개인전</div>
    <a href={% url 'movieGames:movie_game_start' %} class="game-btn text4">노래퀴즈</a>
    <a href='' class="game-btn text4">명대사퀴즈</a>
  </div>
  <div class="team">
    <div class="sub-title text3">팀전</div>
    <a href='' class="game-btn text4">인물퀴즈 
    </a>
    <a href='' class="game-btn text4">네글자 퀴즈
    </a>
  </div>
</div>

{% endblock content %}