
{% extends 'base.html' %}
{% load static %}
{%block head%}
{% endblock %}

{%block content%}
<div class="main-container">
  <div class="title">
    <span class="text1">요즘</span>
    <span class="text2">MT</span>
  </div>
  <div class="sub-title text3">방이름을 입력하세요.</div>
  <form method="POST" action="" >
    {% csrf_token %} 
    {% for field in room %}
          <div class="form-row">
              {{ field.label_tag }}
              {{ field }}
          </div>
      {% endfor %}
    <button class="main-btn btn-text">게임방 만들기</button>
    {% comment %} <input type="submit" value="SignUp" class="main-btn text3" /> {% endcomment %}
  </form>
</div>
  
{%endblock%}
