{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
  </head>
  <body>
    <style>
      body {
        width: 100wh;
      }
      #notchat {
        display: none;
      }
      #chat {
        display: block;
      }
      ul {
        padding: 0;
      }
      li {
        display: flex;
        margin: 2px 20px;
      }
      .my_chat {
        flex-direction: row-reverse;
      }
    </style>
    <div id="info_room_num">{{room.id}}</div>
    <div id="info_username_key">{{user.username}}</div>
    <div id="info_room">{{room.room_name}}</div>
    <span id="info_username"> </span>

    <!-- 이름 입력 받기 -->

    <input id="username" autocomplete="off" />
    <div onclick="clickUser()">이름 입력/수정하기</div>

    <!-- 접속중인 유저 표시 -->
    <ul id="users"></ul>
    <!-- 채팅 입력 칸 생성 -->
    <div class="chat" id="notchat">
      <input id="input" autocomplete="off" />
      <div onclick="click1()">Send</div>
    </div>

    <!-- 입력된 채팅들이 기록될 공간 -->
    <ul id="messages"></ul>

    <script
      src="https://cdn.socket.io/4.0.1/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const room_num = document.getElementById("info_room_num").innerText;
      const room_name = document.getElementById("info_room").innerText;
      const username = document.getElementById("info_username_key").innerText;

      // 메시지 전송버튼이 눌렸을때 입력된 메세지를 소켓을 통해 보내고 메세지 입력창을 비움
      function clickUser() {
        let text = document.getElementById("username").value;
        document.getElementById("info_username").innerText = text;
        document.querySelector(".chat").removeAttribute("id");
        document.querySelector(".chat").id = "chat";
      }

      document
        .getElementById("username")
        .addEventListener("keydown", function (e) {
          if (e.keyCode === 13) {
            let text = e.target.value;
            document.getElementById("info_username").innerText = text;
            document.querySelector(".chat").removeAttribute("id");
            document.querySelector(".chat").id = "chat";
          }
        });

      let socket = io.connect(
        location.protocol + "//" + document.domain + ":" + location.port
      );
      socket.emit("join", room_name);

      // 소켓서버에서 받은 데이터를 기반으로 html에 코드 추가
      socket.on("message", function (data) {
        const username = document.getElementById("info_username").innerText;
        console.log("msg");
        console.log(data);
        let li = document.createElement("li");
        li.append(
          document.createTextNode(data[1]),
          document.createTextNode(" : "),
          document.createTextNode(data[0])
        );
        if (data[1] == username) {
          li.className += "my_chat";
        }
        document.getElementById("messages").appendChild(li);
      });

      // 메시지 전송버튼이 눌렸을때 입력된 메세지를 소켓을 통해 보내고 메세지 입력창을 비움
      function click1() {
        const username = document.getElementById("info_username").innerText;
        console.log("clk");
        let text = document.getElementById("input").value;
        console.log("clk2");
        socket.emit("message", text, username, room_name);
        document.getElementById("input").value = "";
      }
      document
        .getElementById("input")
        .addEventListener("keydown", function (e) {
          if (e.keyCode === 13) {
            const username = document.getElementById("info_username").innerText;
            // 'Enter'키의 keyCode는 13입니다.
            let text = e.target.value;

            socket.emit("message", text, username, room_name);
            e.target.value = "";
          }
        });
    </script>
  </body>
</html>
