{% extends 'chat_base.html' %}{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
  </head>
  <body>
    {% block content %}
    <a href="{% url 'movieGames:movie_game_main' room.id %}">
      <div class="header-btn">영화게임하기</div>
    </a>
    <a href="{% url 'musicGames:music_game_main' room.id %}">
      <div class="header-btn">노래게임하기</div>
    </a>
    <a href="{% url 'figure:figure_main' room.id %}">
      <div class="header-btn">인물퀴즈</div>
    </a>
    <a href="{% url 'fourWords:fourWords_main' room.id  %}">
      <div class="header-btn">네글자 게임</div>
    </a>
    <!-- 연습 -->
    <img src="{% static 'image/qrcode/qr' %}{{room.id}}.png" />
    <!-- 배포 -->
    <!-- <img
      src="{% static 'image/qr' %}{{room.id}}.png"
      alt="이미지"
      class="photo"
    /> -->
    <a href="{% url 'rooms:next_game' room.id %}">
      <div class="header-btn">!!!!!!!!!!!!!!!게임시작!!!!!!!!!!!!</div>
    </a>
    {% endblock %}
  </body>
</html>
