{% extends 'base.html' %}{% load static %}
    {% block content %}
    {% comment %} <a href="{% url 'movieGames:movie_game_main' %}">
      <div class="header-btn">영화게임하기</div>
    </a>
    <a href="{% url 'musicGames:music_game_main' %}">
      <div class="header-btn">노래게임하기</div>
    </a>
    <a href="{% url 'figure:figure_main' %}">
      <div class="header-btn">인물퀴즈</div>
    </a>
    <a href="{% url 'fourWords:figure_main'%}">
      <div class="header-btn">네글자 게임</div>
    </a> {% endcomment %}
    <!-- 연습 -->
    <img src="{% static 'image/qrcode/qr' %}{{room.id}}.png" />
    <!-- 배포 -->
    <!-- <img
  src="{% static 'image/qr' %}{{room.id}}.png"
  alt="이미지"
  class="photo"
/> -->
{% include 'chat-base.html' %}
{% endblock %}
    
  </body>
</html>
