{% extends 'base.html' %}

{% block content %}
<div class="title">
  <span class="text1">요즘</span>
  <span class="text2">MT</span>
</div>
<div class="room-main-container">
  <a class="room-create main-btn btn-text" href="{% url 'movieGames:movie_game_main' 0 %}">영화(개인)</a>
  <a class="room-create main-btn btn-text" href="{% url 'musicGames:music_game_main' 0 %}">노래(개인)</a>
  <a class="room-create main-btn btn-text" href="{% url 'figure:figure_main' 0 %}">인물(개인)</a>
  <a class="room-create main-btn btn-text" href="{% url 'fourWords:fourWords_main' 0  %}">네글자(개인)</a>
  <div class="room-create">
    <a href={% url 'rooms:create' %} class="room-create main-btn btn-text"> 게임방 만들기 </a>
  </div>
  <div class="room-list">
    <div class="main-btn room-list btn-text"> 게임방 리스트 </div>
    {% for room in rooms %}
      <div class="room">
        {% comment %} Host {% endcomment %}
        {% if room.created_by == request.user %}
          <a class="room-name text3 sub-title" href="{% url 'rooms:detail' room.pk %}">
        {% comment %} User {% endcomment %}
        {% else %}
          <a class="room-name text3 sub-title" href="{% url 'rooms:detail' room.pk %}">
          {% comment %} <a class="room-name text3 sub-title" href="{% url 'rooms:detail' room.pk %}"> {% endcomment %}
        {% endif %}
          <i class="fa-solid fa-house"></i>
          {{room.room_name}}
        </a>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock content %}