{% extends 'base.html' %} 
{% block head %}
<title>finish</title>
{% endblock %} {% block content %}
<div class="game-end-container">
  <h1 class="text1">게임 종료 페이지</h1>
  <div class="game-explain text3">
    <p>게임 설명</p>
    <p>'시작' 버튼을 누르면 인물 사진이 나옵니다!</p>
    <p>3초 안에 해당 인물의 이름을 외치세요</p>
    <p>시간 내에 말하지 못 하거나 잘못된 이름을 말하면 자비없이 땡!!</p>
  </div>
  <div class="rule text2">더 플레이 하시겠습니까?</div>

<div class="select-container">
  <a href="{% url 'rooms:recreate' roomId %}" class="main-btn btn-text">게임 다시 선택하기</a>
  <a href="{%url 'rooms:re_game' roomId %}" class="main-btn btn-text">게임 동일하게 다시하기</a>
  <a href="{%url 'rooms:delete' roomId %}" class="main-btn btn-text">메인 페이지</a>
</div>
</div>

{% endblock %}
